:root
{
  --vaniaWidth: 780px;
  --vaniaLight: #666666;
  --vaniaBg: #e0e0e0;
  --vaniaText: #282a36;
  --vaniaLink: #2a86d1;

  --bnbWidth: 960px;
  --bnbBg: #0d0c0f;
  --bnbText: #eeeeee;
  --bnbLink: #cf5151;
  --bnbTitle: #b52d2d;

  --toppadding: 2px;
}

.main
{
  max-width: var(--vaniaWidth);
  margin: auto;
  line-height: 1.4;
  padding: 8px;
  font-size: 20px;
  word-wrap: normal;
  font-family: mainFont;
}

.copyright::before
{
  content: "© 2014-2024 Jack Vania";
}

.navdivider::before
{
  content: " /";
}

.content
{
  padding-top: var(--toppadding);
}

.topnav
{
  font-weight: bold;
  padding-bottom: 16px;
}

.justify
{
  text-align: justify;
}

.code
{
  color: rgb(161, 73, 196);
  background-color: #cdcdcd;
  padding: 12px;
  font-size: 110%;
}

@font-face
{
   font-family: mainFont;
   src: url(../font/jbm.ttf);
}

body
{
  background: var(--vaniaBg);
  color: var(--vaniaText);
}

h1
{
  font-size: 28px;
  margin-bottom: 0px;
}

h2
{
  font-size: 24px;
  margin-bottom: 0px;
}

p
{
  margin-top: 0px;
}

pi
{
  margin-top: 0px;
  font-style: italic;
  color: var(--vaniaLight);
}

img
{
  width: 100%;
}

a:link
{
  color: var(--vaniaLink);
  text-decoration: none;
}

a:visited
{
  color: var(--vaniaLink);
  text-decoration: none;
}

a:hover
{
  color: var(--vaniaLink);
  text-decoration: underline;
}

.ytvideo
{
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
}

/* BLOOD AND BEASTS GAME PAGE */
#body2
{
  color: var(--bnbText);
  background: var(--bnbBg);
}

.topTitle
{
  text-align: center;
  line-height: 1.8;
  padding-top: 20px;
}

gametitle
{
  font-size: 54px;
  font-weight: bold;
  color: var(--bnbTitle);
}

a.bnb:link
{
  color: var(--bnbLink);
  background-color: transparent;
  text-decoration: none;
}

a.bnb:visited
{
  color: var(--bnbLink);
  background-color: transparent;
  text-decoration: none;
}

a.bnb:hover
{
  color: var(--bnbLink);
  background-color: transparent;
  text-decoration: underline;
}

.contentbnb
{
  max-width: var(--bnbWidth);
  margin: auto;
  padding: 6px;
  line-height: 1.4;
}

.justifybnb
{
  max-width: var(--bnbWidth);
  margin: auto;
  padding: 6px;
  line-height: 1.4;
  text-align: justify;
}