.content
{
  max-width: 780px;
  margin: auto;
  padding: 6px;
  line-height: 1.8;
}

.top
{
  max-width: 780px;
  margin: auto;
  padding: 6px;
  line-height: 1.8;
  padding-top: 20px;
}

body
{
  background: #eeeeee;
  color: #242424;
}

@font-face
{
   font-family: mainFont;
   src: url(../font/jbm.ttf);
}

*
{
   font-family: mainFont;
}

h1
{
  font-size: 28px;
  line-height: 0;
}

p
{
  font-size: 20px;
}

pi
{
  font-size: 20px;
  font-style: italic;
}

img
{
  width: 100%;
}

a:link
{
  color: #999999;
  background-color: transparent;
  text-decoration: none;
}

a:visited
{
  color: #999999;
  background-color: transparent;
  text-decoration: none;
}

a:hover
{
  color: #999999;
  background-color: transparent;
  text-decoration: underline;
}

.ytvideo
{
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
}