.copyright:before
{
  content: "© 2014-2024 Jack Vania";
}

.content
{
  max-width: 780px;
  margin: auto;
  padding: 6px;
  line-height: 1.8;
}

.top
{
  padding-top: 20px;
}

.justify
{
  max-width: 780px;
  margin: auto;
  padding: 6px;
  line-height: 1.8;
  text-align: justify;
}

:root
{
  --vaniaBg: #eeeeee;
  --vaniaText: #242424;
  --vaniaLink: #999999;

  --bnbBg: #0d0c0f;
  --bnbText: #eeeeee;
  --bnbLink: #cf5151;
  --bnbTitle: #b52d2d;
}

body
{
  background: var(--vaniaBg);
  color: var(--vaniaText);
}

@font-face
{
   font-family: mainFont;
   src: url(../font/jbm.ttf);
}

*
{
   font-family: mainFont;
}

h1
{
  font-size: 28px;
  line-height: 0;
}

h2
{
  font-size: 24px;
  line-height: 0;
}

p
{
  font-size: 20px;
}

pi
{
  font-size: 20px;
  font-style: italic;
}

img
{
  width: 100%;
}

a:link
{
  color: var(--vaniaLink);
  background-color: transparent;
  text-decoration: none;
}

a:visited
{
  color: var(--vaniaLink);
  background-color: transparent;
  text-decoration: none;
}

a:hover
{
  color: var(--vaniaLink);
  background-color: transparent;
  text-decoration: underline;
}

.ytvideo
{
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
}

/* BLOOD AND BEASTS GAME PAGE */
#body2
{
  color: var(--bnbText);
  background: var(--bnbBg);
}

.topTitle
{
  text-align: center;
  line-height: 1.8;
  padding-top: 20px;
}

gametitle
{
  font-size: 54px;
  font-weight: bold;
  color: var(--bnbTitle);
}

a.bnb:link
{
  color: var(--bnbLink);
  background-color: transparent;
  text-decoration: none;
}

a.bnb:visited
{
  color: var(--bnbLink);
  background-color: transparent;
  text-decoration: none;
}

a.bnb:hover
{
  color: var(--bnbLink);
  background-color: transparent;
  text-decoration: underline;
}