:root
{
  --toppadding: 2px;
  --vaniaWidth: 780px;
  --vaniaLight: #666666;
  --vaniaLink: #2a86d1;

  /* Light */
  --vaniaBg: #e0e0e0;
  --vaniaText: #474c6e;

  /* Dark */
  /* --vaniaBg: #1e1f28;
  --vaniaText: #e9e9e4; */
}

.main
{
  max-width: var(--vaniaWidth);
  /* margin: auto;
  padding: 10px; */
  margin: left;
  padding-top: 0px;
  padding-left: 18px;
  padding-right: 18px;
  line-height: 1.4;
  font-size: 18px;
  font-family: mainFont;
  /* word-wrap: normal; */
}

.content
{
  padding-top: var(--toppadding);
}

.footer
{
  padding-top: 20px;
}

@font-face
{
   font-family: mainFont;
   src: url(font/jbm.ttf);
}

body
{
  background: var(--vaniaBg);
  color: var(--vaniaText);
}

h1
{
  font-size: 24px;
  margin-bottom: 0px;
}

h2
{
  font-size: 22px;
  margin-bottom: 0px;
}

p
{
  margin-top: 0px;
}

img
{
  width: 100%;
}

a:link
{
  color: var(--vaniaLink);
  text-decoration: none;
}

a:visited
{
  color: var(--vaniaLink);
  text-decoration: none;
}

a:hover
{
  color: var(--vaniaLink);
  text-decoration: underline;
}

.ytvideo
{
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
}