:root
{
  --vaniaWidth: 800px;
  --vaniaLight: #666666;
  --vaniaLightest: #b5b5b5;
  --vaniaLink: #2a86d1;

  /* Light */
  --vaniaBg: #e0e0e0;
  --vaniaText: #474c6e;

  /* Dark */
  /* --vaniaBg: #1e1f28; */
  /* --vaniaBg: #16171d;
  --vaniaText: #e9e9e4; */

  background-color: var(--vaniaBg);
  color: var(--vaniaText);
  font-size: 22px;
  font-family: mainFont;
}

@font-face
{
   font-family: mainFont;
   src: url(./font/jbm.ttf);
}

a:link
{
  color: var(--vaniaLink);
  text-decoration: none;
}

a:visited
{
  color: var(--vaniaLink);
  text-decoration: none;
}

a:hover
{
  color: var(--vaniaLink);
  text-decoration: underline;
}

.light
{
    color: var(--vaniaLight);
}

.lightest
{
    color: var(--vaniaLightest);
}

.entry
{
    line-height: 0;
    padding: 4px;
}

.divPad
{
    --pad: 6px;
    padding-top: var(--pad);
    padding-bottom: var(--pad);
}

.outside
{
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
}
  
.inside
{
    margin: auto;
}

.element
{
    position: fixed;
    inset: 0px;
    margin: auto;
    max-width: var(--vaniaWidth);
}