:root
{
  --siteWidth: 1000px;
  --toppadding: 2px;

  /* Light */
  --backgroundCol: #ffffff;
  --textCol: #262626;
  --yellowCol: #fff505;
  --linkCol: #2a86d1;

  background-color: var(--backgroundCol);
    color: var(--textCol);
    font-size: 22px;
  font-family: mainFont;
}

.main
{
  max-width: var(--siteWidth);
  margin: auto;
  line-height: 1.4;
  padding: 8px;
  font-size: 20px;
  word-wrap: normal;
  font-family: mainFont;
}

.copyright::before
{
  content: "© 2014-2024 Jack Vania";
}

.navdivider::before
{
  content: " /";
}

.content
{
  padding-top: var(--toppadding);
}

/* .topnav
{
  font-weight: bold;
  padding-bottom: 16px;
} */

@font-face
{
   font-family: mainFont;
   src: url(./fonts/ptr.ttf);
}

body
{
  background: var(--backgroundCol);
  color: var(--textCol);
}

h1
{
  font-size: 68px;
  margin-bottom: 0px;
}

h2
{
  font-size: 24px;
  margin-bottom: 0px;
}

p
{
  margin-top: 0px;
}

pi
{
  margin-top: 0px;
  font-style: italic;
  color: var(--vaniaLight);
}

img
{
  width: 100%;
}

a:link
{
  color: var(--linkCol);
  text-decoration: none;
}

a:visited
{
  color: var(--linkCol);
  text-decoration: none;
}

a:hover
{
  color: var(--linkCol);
  text-decoration: underline;
}

.ytvideo
{
  align-content: center;
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
}

.topTitle
{
  text-align: center;
  font-size: 72px;
  line-height: 1.4;

  padding-bottom: 32px;
  padding-top: 32px;

  /* padding: 64px; */
  background-color: var(--textCol);
}

.findUs
{
  text-align: center;
  line-height: 1.4;
  font-size: 72px;
  font-weight: bold;

  padding: 32px;
  background-color: var(--textCol);
}

maintitle
{
  font-size: 48px;
  font-weight:bold;
}

a.bnb:link
{
  color: var(--bnbLink);
  background-color: transparent;
  text-decoration: none;
}

a.bnb:visited
{
  color: var(--bnbLink);
  background-color: transparent;
  text-decoration: none;
}

a.bnb:hover
{
  color: var(--bnbLink);
  background-color: transparent;
  text-decoration: underline;
}

/* .contentbnb
{
  max-width: var(--siteWidth);
  margin: auto;
  padding: 6px;
  line-height: 1.4;
} */

.justify
{
  max-width: var(--siteWidth);
  margin: auto;
  padding: 6px;
  line-height: 1.4;
  text-align: justify;

  font-size: 24px;
}

.centered
{
  text-align: center;
  line-height: 1.8;
  padding-top: 32px;
  padding-bottom: 32px;
}

.centeredheading
{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  padding-top: 16px;
}

.floatLeft
{
  float: left;
  padding-right: 20px;
}

.rightText
{

  line-height: 1.8;
}

/* .justify
{
  text-align: justify;
} */

.whiteText
{
  color: white;
}

.yellowText
{
  color: var(--yellowCol);
}

.bottomPad
{
  padding-bottom: 32px;
}

/* for swapping images based on mobile */
.image-gallery
{
  position: relative;
}

.image-gallery img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-image
{
  display: none;
}

@media only screen and (max-width: 768px)
{
  .image-gallery img:first-child {
    display: none;
  }
  .mobile-image {
    display: block;
  }
}