.content
{
  max-width: 780px;
  margin: auto;
  padding: 6px;
  line-height: 1.8;
}

.justify
{
  max-width: 780px;
  margin: auto;
  padding: 6px;
  line-height: 1.8;
  text-align: justify;
}

.topTitle
{
  text-align: center;
  line-height: 1.8;
  padding-top: 20px;
}

@font-face
{
   font-family: mainFont;
   src: url(./font/jbm.ttf);
}

h1
{
  font-size: 28px;
  line-height: 0;
}

gametitle
{
  font-size: 54px;
  font-weight: bold;
  color: brown;
}

body
{
  color: #eeeeee;
  background: #101010;
}

*
{
   font-family: mainFont;
}

p
{
  font-size: 20px;
}

a:link
{
  color: #999999;
  background-color: transparent;
  text-decoration: none;
}

a:visited
{
  color: #999999;
  background-color: transparent;
  text-decoration: none;
}

a:hover
{
  color: #999999;
  background-color: transparent;
  text-decoration: underline;
}

img
{
  width: 100%;
}

img2
{
  width: 50%;
}

.ytvideo
{
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
}