:root
{
  --siteWidth: 1000px;
  --toppadding: 2px;

  --backgroundCol: #000000;
  --textCol: #e6e6e6;
  --titleCol: #08e0ce;
  --linkCol: #b52d6a;

  background-color: var(--backgroundCol);
  color: var(--textCol);
  font-size: 22px;
  font-family: mainFont;
}

.main
{
  max-width: var(--siteWidth);
  margin: auto;
  line-height: 1.4;
  padding: 8px;
  word-wrap: normal;
  font-family: mainFont;
}

@font-face
{
   font-family: mainFont;
   src: url(./fonts/jbm.ttf);
}

body
{
  background: var(--backgroundCol);
  color: var(--textCol);
}

p
{
  margin-top: 0px;
}

pi
{
  margin-top: 0px;
  font-style: italic;
  color: var(--vaniaLight);
}

img
{
  width: 100%;
}

a:link
{
  color: var(--linkCol);
  text-decoration: none;
  font-weight: bold;
}

a:visited
{
  color: var(--linkCol);
  text-decoration: none;
  font-weight: bold;
}

a:hover
{
  color: var(--linkCol);
  text-decoration: underline;
  font-weight: bold;
}

.ytvideo
{
  align-content: center;
  aspect-ratio: 16/9;
  width: 100%;
  border: none;
}

.topTitle
{
  text-align: center;
  /* font-size: 80px; */
  line-height: 1.4;

  padding-bottom: 42px;
  padding-top: 42px;
  padding-left: 8px;
  padding-right: 8px;

  /* padding: 64px; */
  background-color: black;
}

.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* line-height: 1.2em; */
}

htemp
{
  font-size: 300%;
  font-weight: bold;
  color: var(--titleCol);
}

.centTemp
{
  text-align: center;
  line-height: 1;
  /* padding-top: 32px;
  padding-bottom: 32px; */
}

maintitle
{
  font-size: 52px;
  /* font-weight:bold; */
}

.justify
{
  max-width: var(--siteWidth);
  margin: auto;
  padding: 12px;
  line-height: 1.4;
  text-align: justify;
}

.centered
{
  text-align: center;
  line-height: 1.8;
  padding-top: 32px;
  padding-bottom: 32px;
}

pw
{
  color: var(--textCol);
  font-size: 26px;
}

/* yellowText
{
  color: var(--yellowCol);
} */

.padding
{
  padding: 16px;
}


/* for swapping images based on mobile */
.image-gallery
{
  position: relative;
}

.image-gallery img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobile-image
{
  display: none;
}

@media only screen and (max-width: 768px)
{
  .image-gallery img:first-child {
    display: none;
  }
  .mobile-image {
    display: block;
  }
}